#detail_container {
  position: relative;
}
.comp_select_templete {
  width: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_step {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_title {
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_step .boundary {
  width: 1px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: block;
}
.comp_select_templete.next {
  border-color: #ff493a;
}
.comp_select_templete.next .comp_select_templete_step .boundary {
  background-color: #ff493a;
}
.comp_select_templete.next .comp_select_templete_step,
.comp_select_templete.next .comp_select_templete_title,
.comp_select_templete.next .un_value_font_color {
  color: #ff493a;
}
.comp_select_templete.select {
  border-color: black;
}
.comp_select_templete.select .comp01_select_templete_step .boundary {
  background-color: black;
}
.comp_select_templete.select .comp_select_templete_title,
.comp_select_templete.select .comp_select_templete_step,
.comp_select_templete.select .comp_select_templete_step .boundary,
.comp_select_templete.select .un_value_font_color {
  color: black;
}
.info01_icon {
  display: block;
  margin: 20px auto;
}
.belong_form_tab {
  display: flex;
}
.belong_form_tab > div {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  text-align: center;
}
.belong_form_tab > div:first-child {
  border-right: none;
}
.belong_form_tab > div.active {
  border: 1px solid #ff493a;
  color: #ff493a;
}
.lndividual_input_container {
  flex-wrap: wrap;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.lndividual_input_container > div {
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-right: none;
}
.lndividual_input_container > div.select {
  border: 1px solid #ff493a;
  color: #ff493a;
}
#detail_comp_container {
  padding-bottom: 75px;
}
#detail_container_employ {
  min-height: calc(100vh - 141px);
  padding-bottom: 100px;
}
