#detail_container {
  position: relative;
}
.comp_select_templete {
  width: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_step {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_title {
  color: rgba(0, 0, 0, 0.2);
}
.comp_select_templete_step .boundary {
  width: 1px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: block;
}
.comp_select_templete.next {
  border-color: #ff493a;
}
.comp_select_templete.next .comp_select_templete_step .boundary {
  background-color: #ff493a;
}
.comp_select_templete.next .comp_select_templete_step,
.comp_select_templete.next .comp_select_templete_title,
.comp_select_templete.next .un_value_font_color {
  color: #ff493a;
}
.comp_select_templete.select {
  border-color: black;
}
.comp_select_templete.select .comp01_select_templete_step .boundary {
  background-color: black;
}
.comp_select_templete.select .comp_select_templete_title,
.comp_select_templete.select .comp_select_templete_step,
.comp_select_templete.select .comp_select_templete_step .boundary,
.comp_select_templete.select .un_value_font_color {
  color: black;
}
.info01_icon {
  display: block;
  margin: 20px auto;
}
.belong_form_tab {
  display: flex;
}
.belong_form_tab > div {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  text-align: center;
}
.belong_form_tab > div:first-child {
  border-right: none;
}
.belong_form_tab > div.active {
  border: 1px solid #ff493a;
  color: #ff493a;
}
.lndividual_input_container {
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.lndividual_input_container > div {
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-right: none;
}
.lndividual_input_container > div.select {
  border: 1px solid #ff493a;
  color: #ff493a;
}
#detail_comp_container {
  padding-bottom: 75px;
  min-height: calc(100vh - 137px);
}
#detail_container_employ {
  min-height: calc(100vh - 141px);
  padding-bottom: 100px;
}
#detail_confirm_popup {
  width: 300px;
  padding: 15px 30px;
}
.confirm_title_row_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  position: relative;
  padding-left: 5px;
  line-height: 21px;
  align-items: flex-start;
}
.confirm_title_row_bar::after {
  display: block;
  content: " ";
  width: 2px;
  height: 16px;
  background-color: #ff493a;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-50%);
}
#detail_confirm_popup > div:last-child {
  margin-bottom: 0;
}
#detail_confirm_popup > div > div {
  font-family: NanumSrBold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
#detail_confirm_popup .confirm_popup_table_container {
  flex-direction: column;
}
#detail_confirm_popup .confirm_popup_table_container .confirm_title_row_bar {
  font-family: NanumSrRegular;
}
#detail_confirm_popup > div > div.confirm_popup_table {
  width: 100%;
  max-width: 100%;
  border: 1px solid black;
  border-bottom: none;
}
.confirm_popup_table > div {
  display: flex;
  width: 100%;
}
.confirm_popup_table > div > div {
  width: 50%;
  border-bottom: 1px solid black;
  font-family: NanumSrBold;
  text-align: center;
  padding: 4px 0;
}
.confirm_popup_table > div > div:first-child {
  border-right: 1px solid black;
}
.multi_container {
  position: relative;
  overflow: hidden;
  width: 300px;
}
.multi_list_container {
  border-bottom: 1px solid #ccc;
}
.multi_list_container:nth-child(2n) {
  border-bottom: none;
}
.multi_popup_retiredday {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 30px 0px;
}
.multi_confirm.date_indiviual_prev,
.multi_confirm.date_indiviual_next {
  position: fixed;
}
.multi_confirm.date_indiviual_next {
  right: -27px;
}
.multi_confirm.date_indiviual_prev {
  left: -27px;
}
