#footer_container {
  width: 100%;
  background-color: rgba(74, 80, 86, 1);
  padding: 5px 10px;
  font-size: 12px;
  z-index: 100000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer_copyright {
  color: rgba(255, 255, 255, 0.5);
}
