#footer_container {
  width: 100%;
  background-color: rgba(74, 80, 86, 1);
  padding: 0 4px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

#footer_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}

#footer_header button {
  line-height: 0;
  padding-right: 4px;
}
#footer_header button.active {
  transform: rotateX(180deg);
}

#footer_contents {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 10px;
  padding: 4px 6px;
  font-family: NanumSquareRoundOTF;
  line-height: 1.5;
  display: none;
}

#footer_contents.active {
  display: block;
}
