#header_container {
	width: 100%;
	max-width: 500px;
	padding: 14px;
	height: 50px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header_container.active {
	box-shadow: none;
}
#header_left_contents {
	width: 30px;
}

#header_container > h1 {
	font-size: 21px;
	font-weight: 400;
}

#header_container > button {
	line-height: 0;
}

#header_menu_btn {
	width: 24px;
	height: 20px;
	position: relative;
}

#header_menu_btn span {
	width: 100%;
	height: 2px;
	display: block;
	transition: 0.4s;
	border-radius: 2px;
	position: absolute;
}
#header_menu_btn span:first-child {
	top: 0;
}
#header_menu_btn span:nth-child(2) {
	top: 50%;
}
#header_menu_btn span:last-child {
	top: 100%;
}

#header_menu_btn.active span:first-child {
	top: 50%;
	transform: rotate(45deg);
}
#header_menu_btn.active span:last-child {
	top: 50%;
	transform: rotate(-45deg);
}
#header_menu_btn.active span:nth-child(2) {
	opacity: 0;
}
