.input_style {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 12px 16px;
	color: rgba(0, 0, 0, 0.2);
}
.input_style input.select {
	border: none;
	color: rgba(255, 101, 89, 1);
}
.input_style input {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.input_style.select {
	border: 1px solid rgba(255, 101, 89, 1);
	color: rgba(255, 101, 89, 1);
}
.kr_value {
	text-align: right;
	padding: 5px 0;
}
