#loading_container {
  width: 100%;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
}

#loading_container img {
  width: 100%;
}
