#main_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main_page_container h3 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 10px;
}

.main_slide_card {
  width: 100%;
}

.main_slide_card > div {
  width: 235px;
  height: 320px;
  border: 3px solid #ff7d73;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto 26px;
}

.main_slide_card h4 {
  padding-top: 28px;
  font-size: 32px;
}

.main_slide_card p {
  border-radius: 10px;
  padding: 11px 19px;
}

#main_slide_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main_tooltip {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
#slide_guide_direction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  transition: 0.4s;
}
#slide_guide_direction_icon {
  width: 100%;
  padding: 0 15px;
  position: relative;
}
#slide_guide_direction_icon img {
  position: absolute;
  top: 0;
}
#slide_guide_direction_icon > .left_icon {
  left: 15px;
}
#slide_guide_direction_icon > .right_icon {
  right: 15px;
}

#slide_guide_direction > div {
  width: 130px;
  word-break: keep-all;
  color: #ff7d73;
  line-height: 21px;
}
#slide_guide_direction > div:last-child {
  text-align: right;
}

.slick-dots {
  position: relative;
  bottom: 0;
  line-height: 0;
}

.slick-dots li {
  width: 10px;
  height: 10px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  line-height: 1;
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}

.slick-dots li.slick-active button:before {
  color: #ff493a;
}
.slick-next,
.slick-prev {
  top: -40px;
  width: 100px;
  height: 50px;
}
.slick-next::before,
.slick-prev::before {
  display: none;
}
.slick-next {
  right: 15px;
}
.slick-prev {
  left: 15px;
}
