#multi_container {
  min-height: calc(100vh - 177px);
}

#multi_top_container {
  padding: 0 15px;
}
#multi_top_container > div {
  width: 100%;
  min-height: 140px;
  padding: 30px;
  border-radius: 4px;
  background-color: #ffe3e2;
  border: 1px solid #d13b30;
  display: flex;
  flex-wrap: wrap;
}
#multi_company_list {
  padding-top: 15px;
}
#company_button_container {
  display: flex;
}
.company_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d13b30;
  border-radius: 2px;
  padding: 13px 20px;
  margin-bottom: 15px;
}

.company_list .delete_mark {
  width: 20px;
  height: 20px;
  background-color: #ff6559;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company_list .delete_mark span {
  width: 13px;
  height: 2px;
  background-color: white;
  border-radius: 25px;
}
#company_add_btn {
  padding: 5px 11px;
  border-radius: 49px;
  border: 1px solid #ff6559;
  display: flex;
  margin-left: auto;
  line-height: 24px;
  align-items: center;
}
#company_add_btn .add_mark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-radius: 50%;
  background-color: #ff6559;
  position: relative;
  margin-right: 5px;
}
#company_add_btn .add_mark span {
  display: block;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#company_add_btn .add_mark span:first-of-type {
  width: 2px;
  height: 12px;
}

#company_add_btn .add_mark span:last-of-type {
  width: 12px;
  height: 2px;
}

.multi_top_emoticon {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.multi_top_emoticon:nth-child(3n) {
  margin-right: 0%;
}
.multi_mainselect_card {
  border: 1px solid #ff6559;
  border-radius: 2px;
  padding: 13px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
#multi_select_container {
  text-align: center;
}
#multi_select_container > div:first-child {
  margin-bottom: 15px;
}
