.popup_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_container .popup_title {
  width: 300px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  background-color: white;
  text-align: center;
}

.popup_container .popup_contents.string {
  width: 300px;
  padding: 15px 0;
  text-align: center;
  background-color: white;
}
