#popup_background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
}

#popup_content {
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

#date_button_container {
	display: flex;
	justify-content: flex-end;
	padding: 35px 20px 20px;
}
