@font-face {
  font-family: NanumSrRegular;
  src: url("../assets/fonts/NanumSquareRoundR.ttf");
}

@font-face {
  font-family: NanumSrBold;
  src: url("../assets/fonts/NanumSquareRoundEB.ttf");
}

* {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: NanumSrRegular;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: black;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: NanumSrBold;
  white-space: nowrap;
}
label {
  display: block;
}
input {
  border: none;
  background: none;
}
select {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.font_family_bold {
  font-family: NanumSrBold;
}
.lh_27 {
  line-height: 27px;
}
.lh_37 {
  line-height: 37px;
}
