@font-face {
	font-family: Jua;
	src: url("../assets/fonts/Jua-Regular.ttf");
}

@font-face {
	font-family: NanumSquareRoundOTF;
	src: url("../assets/fonts/NanumSquareRoundOTFR.otf");
}

@font-face {
	font-family: NanumBarunGothicLight;
	src: url("../assets/fonts/NanumBarunGothicLight.otf");
}

* {
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
	font-family: Jua;
	outline: none;
	box-sizing: border-box;
}

body {
	background-color: white;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

input {
	border: none;
	background: none;
}

select {
	border: none;
	background: none;
}
