#result_container {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 132px);
  justify-content: space-evenly;
  /* height: calc(100vh - 178px); */
}
#result_container .help_link {
  margin-top: 7.5px;
  margin-bottom: 10px;
}
#result_emoticon {
  width: 158px;
  margin: 15px 0 25px;
}
#result_comment {
  margin-bottom: 15px;
}
#result_top {
  width: 100%;
  padding: 3px 0;
  margin-bottom: 25px;
}
#result_top_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  font-weight: 800;
}
#result_top_header span {
  display: block;
  width: 168px;
  text-align: center;
}
#result_top_header span {
  line-height: 37.5px;
}
#result_top_content {
  padding: 10px 15px;
  border: 1px solid #ff7d73;
}
#result_top_content > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#result_top_content > div:first-of-type {
  margin-bottom: 5px;
}
#severance_pay_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#severance_pay_comment {
  margin-bottom: 15px;
  text-align: center;
}
#least_container #min_worktime_pay {
  margin-bottom: 5px;
}
#severance_pay_box {
  padding: 8px 15px;
  line-height: 37.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#severance_pay_box span {
  width: 152px;
  text-align: center;
}
#result_guide_comment01 {
  margin: 25px 0;
  text-align: center;
}
#result_guide_comment02 {
  width: 100%;
  margin-bottom: 25px;
}
#result_guide_comment03 {
  margin-top: 15px;
  margin-bottom: 15px;
}
#result_guide_comment02 > div {
  width: 100%;
  word-break: break-all;
  color: rgba(0, 0, 0, 0.4);
}
.guide_card {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  line-height: 21px;
}
#result_button_container {
  display: flex;
}
#result_button_container a {
  width: 100%;
}
#result_unsupply_container {
  width: 100%;
  margin-bottom: 15px;
}
#result_unsupply_container > div {
  padding: 9px 30px;
  align-items: center;
  justify-content: space-between;
}
.unsupply_result_value {
  display: block;
  text-align: center;
}
#average_guide_container {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
#average_guide_container.guide_normal {
  padding: 10px 65px;
  line-height: 21px;
}
#result_container .help_link.result_help_link1 {
  margin-top: 50px;
}
#twoweek_guide_container {
  border: 1px solid #ccc;
  padding: 10px;
}
#result_top_header.next_result {
  margin: 5px 0;
}
#next_need_day {
  margin-top: 5px;
  line-height: 21px;
}
#next_result_amount {
  text-align: right;
  margin-top: 5px;
  line-height: 21px;
}
#next_more_pay {
  text-align: right;
  margin-top: 5px;
  line-height: 21px;
}
#next_more_pay {
  border: 1px solid rgba(255, 101, 89, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  padding: 10px 15px;
  margin: 25px 0;
}
#next_more_pay span {
  display: block;
  margin-right: 5px;
}
#least_title {
  padding: 8px 15px;
}
#least_info_box {
  border: 1px solid #ff7d73;
  padding: 10px 15px;
  margin-bottom: 15px;
}
#least_info_box div {
  line-height: 24px;
}
#least_container #result_guide_comment02 {
  margin-top: 25px;
}
#least_container h3 {
  margin-bottom: 15px;
}
#result_uns_mesg_container {
  width: 100%;
}
.result_uns_mesg {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  margin-bottom: 25px;
  line-height: 24px;
}
.result_uns_mesg:last-child {
  margin-bottom: 0;
}
