#retiree_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#retiree_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}
#retiree_main button {
  font-size: 32px;
  border-radius: 10px;
  width: 224px;
  height: 62px;
  padding: 0;
}
