#retiree_container {
  height: calc(100vh - 141px);
  position: relative;
}
#retiree_container .help_link {
  position: absolute;
  bottom: 0;
  right: 0;
}

#retiree_main {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#retiree_main button {
  font-size: 32px;
  border-radius: 5px;
  width: 224px;
  height: 62px;
  padding: 0;
}
