.strong_red {
  color: rgba(255, 0, 0, 0.8);
}
.strong_blue {
  color: rgba(0, 10, 255, 1);
}
.box_shadow_style01 {
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25),
    inset -2px 2px 4px rgba(255, 255, 255, 0.25),
    inset 2px -2px 1px rgba(0, 0, 0, 0.25);
}
.bg_color_main {
  background-color: rgba(255, 101, 89, 1);
}
.bg_color_white {
  background-color: white;
}
.font_color_gray {
  color: rgba(0, 0, 0, 0.6);
}
.font_color_main {
  color: rgba(255, 73, 58, 1);
}
.font_color_white {
  color: white;
}
.font_color_point {
  color: #000aff;
}
.un_value_font_color {
  color: rgba(0, 0, 0, 0.2);
}
.un_value_bg_color {
  background-color: rgba(0, 0, 0, 0.2);
}
.fs_10 {
  font-size: 10px;
}
.fs_12 {
  font-size: 12px;
  line-height: 18px;
}
.fs_14 {
  font-size: 14px;
  line-height: 21px;
}
.fs_16 {
  font-size: 16px;
}
.fs_18 {
  font-size: 18px;
}
.fs_25 {
  font-size: 25px;
}
.flex_box {
  display: flex;
}
.flex_left {
  margin-left: auto;
}
.flex_right {
  margin-right: auto;
}
.flex_box_row_center {
  align-items: center;
}
.flex_box_column_center {
  justify-content: center;
}
.flex_direction {
  flex-direction: column;
}
.w_100 {
  width: 100%;
}
.write_label {
  margin: 30px 0 5px;
  line-height: 24px;
}
.first_label {
  margin-bottom: 5px;
  line-height: 24px;
}
.write_label.help_call,
.help_call {
  display: flex;
  line-height: 1;
  margin-bottom: 9px;
}
.write_label.help_call img,
.help_call img {
  width: 16px;
  height: 16px;
}
.write_label.write_label_and_guide {
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}
.public_side_padding {
  padding: 0 30px;
}
.pd_810 {
  padding: 8px 10px;
}
.last_child_margin_init {
  margin-bottom: 0;
}
.mini_tip {
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.pd_50 {
  padding-bottom: 50px;
}
.calbtn_bottom_space {
  padding-bottom: 100px;
}
.header_top_space {
  margin-top: 50px;
}
#root {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.full_height_layout {
  margin-top: 50px;
  height: calc(100vh - 80px);
  overflow: hidden;
}
.full_height_layout_cal {
  min-height: calc(100vh - 142px);
}
.emoticon_w {
  width: 158px;
}
.help_link {
  color: #0089ed;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.help_link img {
  margin-right: 3px;
}
.help_link span {
  color: #0089ed;
}
.reset_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0;
  padding-bottom: 0;
}
.reset_button span {
  color: #0089ed;
}
.cal_top_contents {
  display: flex;
  flex-direction: column;
}
.description {
  margin-top: 5px;
  font-size: 12px;
}
.label_unit {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.2);
}
.lh_27 {
  line-height: 27px;
}
.lh_18 {
  line-height: 18px;
}
.br_r {
  border-right: 1px solid #ccc;
}
.br_l {
  border-left: 1px solid #ccc;
}
.txt_ct {
  text-align: center;
}
.write_label_guide {
  text-align: right;
}
.border_b {
  border-bottom: 1px solid #ccc;
}
.lh_1 {
  line-height: 1;
}
.out_description {
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  #root {
    border: none;
  }
}
