#date_normal {
	margin: 0 5px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#date_normal img {
	margin-left: 8px;
}

.select_popup {
	background-color: rgba(255, 227, 226, 1);
	padding: 30px 25px;
	width: 252px;
	height: 252px;
	overflow-y: auto;
}

.options {
	width: 100%;
	padding: 9px 0;
	background-color: rgba(255, 101, 89, 1);
	color: white;
	margin-bottom: 20px;
	border-radius: 5px;
}

.options:last-child {
	margin-bottom: 0;
}
