#date_normal {
  margin: 0 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#date_normal img {
  margin-left: 8px;
}

.select_custom#normal {
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.select_custom#normal select {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.2);
}

.select_icon {
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  flex: none;
}

.select_popup {
  background-color: rgba(255, 227, 226, 1);
  padding: 30px 25px;
  width: 252px;
  height: 252px;
  overflow-y: auto;
}

.popup_select_option {
  text-align: center;
  width: 240px;
  border: 1px solid #ccc;
  color: #ccc;
  margin-bottom: 14px;
}
.popup_select_option.select {
  border: 1px solid #ff6559;
  color: #ff6559;
}
.popup_select_option:last-child {
  margin-bottom: 0;
}

.options {
  width: 100%;
  padding: 9px 0;
  background-color: rgba(255, 101, 89, 1);
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.options:last-child {
  margin-bottom: 0;
}
.popup_select_container {
  padding: 24px 30px;
}
.popup_select_container div {
  line-height: 24px;
}

.custom_select {
  position: relative;
}
.custom_options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(234, 91, 80, 1);
  max-height: 250px;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100000;
}
.custom_options > div {
  cursor: pointer;
}
.custom_options > div:hover {
  background-color: #d35248;
}
.custom_select.date_normal_style {
  border: 1px solid black;
  padding: 3px 9px;
  border-radius: 5px;
  margin: 0 5px;
  display: flex;
  z-index: 10000;
  width: 90px;
  justify-content: space-between;
}
.custom_select.date_normal_style > div {
  line-height: 24px;
}
.custom_select.normal_style .custom_options > div,
.custom_select.date_normal_style .custom_options > div {
  line-height: 24px;
  padding: 10px 0;
  color: white;
  text-align: center;
}
.custom_select.normal_style {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.custom_select.normal_style .icon_cover .custom_select_icon {
  width: 18px;
}
.custom_select.normal_style .custom_select_title {
  width: calc(100% - 38px);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}
.custom_select.normal_style .icon_cover {
  background-color: rgba(0, 0, 0, 0.2);
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_select.normal_style.active {
  border-color: #ff6559;
}
.custom_select.normal_style.active .custom_select_title {
  color: #ff6559;
}
.custom_select.normal_style.active .icon_cover {
  background-color: #ff6559;
}
